# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dns_resolver

*.swp
*.DS_Store
*.in

build
.ccls-cache
.vscode
.idea

.cache/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Makefile
_deps
